@import url("global.css");
@import url("facebox.css");
@import url("thickbox.css");

.box{ padding:20px 0 0 40px; }
.box h2{ font-size:14px; padding:8px 0; color:#666; }
.box h2 small{ font-weight:normal; font-size:12px; }

.tip{ padding:10px; font-size:14px; color:#333;  border:1px solid #5D748F; background:#EFF7FF }

/* 班级相册目录样式 */
.class_album_folder{
	display:block;
	width:90px;
	height:90px;
	background:url(/static/images/icon/folder-b.gif) no-repeat center center;
	border:1px solid #ccc;
	float:left;
	margin:10px 0 0 10px;
	padding:10px;
}

/* 班级首页HOME 班级话题无序列表 */
#class_topic{ list-style-position:inside; color:#666; padding:0 10px; }

/* 班级列表TABLE -------------------------------------------- */
.class_list{ margin:10px 0; width:620px }
.class_list th{ font-weight:normal;text-align:left; background:#D9E6F7; padding:5px; 
				border-top:1px solid #AFCAEF; border-bottom:1px solid #AFCAEF; }
.class_list td{ padding:5px; border-bottom:1px solid #eee; }

.class_sub_bar{ padding-left:10px; width:200px  }
.class_sub_bar p{ padding:10px 0 0 0; }
.class_sub_bar p b{ color:#666; }
.class_sub_bar ul { list-style-position:inside; color:#666; padding:10px 0 0 0; margin-top:10px;  border-top:1px solid #ccc; }

/* 我的班级导航 ------------------------------------------  */
.class_tab{ color:#ccc; width:830px; margin-left:10px; margin-top:10px; background:#eee; padding:5px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
.class_tab a.on{ color:#000; font-weight:bold }

/* 班级基本信息 ------------------------------------------ */
.class_base_info th{ text-align:left; color:#fff; border-bottom:1px solid #666; padding:5px 0; 
					background:#6288B6; text-indent:10px;  }
.class_base_info td{ padding:3px 0 3px 5px; border-bottom:1px solid #eee; color:#666; }
.class_base_info .txtl{ color:#444; }
.toolbar { margin-left:10px; }
.toolbar a{ display:block; padding:3px 0 3px 10px; border:1px solid #fff; background:#EFF7FF; }
.toolbar a:hover{ background:#D9E6F7; text-decoration:none;  border:1px solid #BCDDFF; }


/* 班级展示区域 --------------------------------------------- */
.class_show h2{ font-size:12px; padding:10px 0 5px 0;  }
.focus{ font-weight:bold; color:#111; }
#class_notice{ padding:5px; background:#587964; color:#eee; border:2px solid #8A775F; }
#class_picture{  overflow:hidden; }
#class_picture a{ padding:5px; border:1px solid #eee; display:block; float:left; margin-left:5px }
#class_picture a:hover{ border:1px solid #ccc; }

/* 各功能帮助点点 ------------------------------------------ */
.options{ color:#333; border:1px solid #D9E6F7; padding:8px; background:#EFF7FF }

/* 班级内容列表通用样式 --------------------------------------- */
.cont_list{ padding:10px 0 0 10px; width:650px; }
.cont_list th{ border-bottom:1px solid #618EBC; padding:3px; font-weight:normal; }
.cont_list td{ padding:3px; color:#666 }
.cont_list .focus{ background:#618EBC; color:#fff; padding:5px; }

/* 每个成员通讯录单元表格样式 ----------------------------------- */
.addressbook_item{ margin:5px 0 0 0; border:1px solid #D8DFEA; width:500px; clear:left }
.addressbook_item td{ padding:5px 5px 2px 5px; border-top:1px solid #eee; }
.addressbook_item th{ padding:5px; font-size:16px; }

/* 话题单元 ----------------------------------------------- */
.topic{ padding:10px; }
.reply{ clear:both }
.topic .author{ border:1px solid #BCDDFF; padding:5px; background:#EFF7FF; }
.topic h2{ padding:10px 0 5px 10px; background:url(/static/images/bg/dashed.gif) repeat-x bottom; }
.topic .content{ background:#fff; padding:10px; border:1px solid #eee; }
.content img{ padding:5px; border:1px solid #ccc; margin:10px; }
