* {
	padding:0;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:150%;
	font-size:12px;
}

body {
	background:#E5E5E5;
}

table{ border-collapse:collapse;  }

#wrap {
	width:790px;
	margin:0 auto;
	position:relative;
	background:#fff ;
	margin-top:8px;
}
.rc {
	width:100%
}
.rc_tl { background:url(/static/images/bg/rc_t.gif) no-repeat left top; height:10px;   }
.rc_tr { background:url(/static/images/bg/rc_t.gif) no-repeat right top; height:10px;   }
.rc_bl { background:url(/static/images/bg/rc_b.gif) no-repeat left top; height:12px;  }
.rc_br { background:url(/static/images/bg/rc_b.gif) no-repeat right top; height:12px;  }

/* LOGO部分 -------------------------------------------------------------------------------- */

#logo{
	padding-left:80px;
	height:63px;
	background:url(/static/images/logo.jpg) no-repeat 10px center;
	cursor:pointer;
	color:#444;
}

#logo i{ font-size:16px; font-weight:bold; }
#logo p{ font-size:12px; }

/* 脚底 -------------------------------------------------------------------------------------------- */

#footer{
	color:#999;
	clear:both;
	margin:0 auto;
	width:100%;
	background:url(/static/images/bg/dashed.gif) repeat-x left top;
}
#footer td{ padding:10px 15px 0 15px; }
#footer .sub_nav{ font-size:9px;  }
#footer .sub_info{ text-align:right;  }
#footer a{ color:#3B5888; font-size:12px; text-decoration:none; padding:0 5px; }
#footer a:hover{ text-decoration:underline }

/* 全局导航 -------------------------------------------------------------- */

#global_nav{
	border-collapse:collapse;
	position:absolute; right:0; top:0;
}

#global_nav a{ font-size:13px; color:#004BCA;  }

#global_nav td{ padding-right:10px; padding:5px;}

#global_nav_btn{
	cursor:pointer;
	font-size:12px;
	position:relative;
}

#global_nav_list{ display:none; position:absolute; left:0; background:#fff; top:17px; border:1px solid #D9E6F7; padding:5px; background:#EFF7FF; width:65px; }
#global_nav_list a{ text-decoration:none; font-size:13px; color:#314973;  padding:4px; }
#global_nav_list a:hover{ text-decoration:underline }