@import url("global.css");
@import url("facebox.css");

/* 登陆框 -------------------------------------------------------------------------------- */


#login_form{
	background:#f5f5f5 url(/static/images/bg/login_form.gif) no-repeat left 160px;
	border:1px solid #BDC7D8;
	margin:13px;
	padding:18px;
	width:200px
}

#login_form p{
	font-size:14px;
	color:#666;
	font-weight:bold;
	line-height:170%;
	margin-top:8px;
}

.password a{
	color:#3B5888; text-decoration:none; font-size:12px; }

.login_input{
	font-size:18px;
	padding:2px 2px;
	line-height:normal;
	width:190px;
	border:1px solid #ccc;
}

.registry{ font-size:14px; color:#3F7D30; padding-left:20px; background:url(/static/images/icon/registry.gif) no-repeat left center; margin-left:15px; font-weight:bold; }



/* 介绍宣传区 ----------------------------------------- */
.intro{ padding:20px; }
.intro ul{ color:#333; padding-left:8px; }
.intro li{ line-height:200%; font-size:14px; list-style-type:none; list-style-position:outside; background:url(/static/images/bullet/blue.gif) no-repeat left center; padding-left:20px; }
.intro h2{ padding:8px; font-size:14px; color:#3B5888; margin-top:10px;  }
.notice{ width:300px; padding:0 8px 8px 8px;font-size:13px; background:url(/static/images/bg/dashed.gif) repeat-x bottom; }
.notice b{ color:#3B5888; font-size:14px; }

/* 专题介绍区 ------------------------------------------- */
.subject{ margin:10px 20px 10px 0px; float:right; width:220px; }
.subject h2{ background:#E3EAED url(/static/images/bg/rc_tl2.png) no-repeat left top; padding:5px 15px; color:#222; font-size:14px; margin-top:8px;  border-bottom:1px solid #C3D2D9 }
.subject a{ color:#3B5888; display:block; background:url(/static/images/bullet/red.gif) no-repeat left center; padding: 5px 5px 5px 20px; font-size:13px; }
.subject a:hover{ text-decoration:none; color:#D32A2D  }

/* 信息列表按钮 ----------------------------------------------------------------------------- */

#news_list{
	margin-top:25px;
}
#news_list_tt{
	height:26px;
	color:#444;
	font-size:14px;
	color:#3B5888;
	background:url(/static/images/bg/news_list.gif) repeat-x left bottom;
	border-bottom:1px solid #BDC7D8;
	clear:left;
}

#news_list a{
	display:block;
	color:#3B5888;
	font-size:13px;
	text-decoration:none;
	width:172px;
	padding:5px 0 5px 10px;
	border-left:2px solid #ccc;
	margin-top:2px;
}

#news_list a img{ border:0; margin-right:8px; }

#news_list a.focus{ background:url(/static/images/bg/list_hover.jpg) repeat-y left; border-left:2px solid #243E5C }

/* 新闻内容显示块 ---------------------------------------------------------------------------------- */

.news_page{
	width:100%;
	display:none;
}
.news_page td{ padding:8px 8px 0 8px; }
.news_page a{ display:block; padding:8px 0 3px 20px; color:#333; font-size:13px; background:url(/static/images/bullet/green.gif) no-repeat left center; }
.news_page a.more{ margin-top:8px; background:url(/static/images/btn/more.gif) no-repeat; width:51px; height:15px; padding:0; margin-left:220px; }
.news_page img{ padding:5px; border:1px solid #999; background:#fff; display:none; }

