@import url("global.css");

/* 信息分类+列表 ------------------------------------------ */
	.info_category{
		margin:18px 0 0 10px;
		background:#5D748F url(/static/images/bg/rc_tl.png) no-repeat left top;
		width:140px;
	}
	.info_category h2{
		padding:5px 0 5px 38px;
		font-size:14px;
		background: url(/static/images/icon/book_open.gif) no-repeat 12px 8px;
		color:#fff;
		width:100px;
	}
	.info_category dl{
		background:#EFF7FF;
		border-left:1px solid #D9E6F7;
		border-right:1px solid #D9E6F7;
		border-bottom:2px solid #AFCAEF;
		padding:1px;
	}
	.info_category dd{
		height:25px;
		border-bottom:1px solid #D9E6F7;
		overflow:hidden;
	}
	.info_category dd a{
		display:block;
		padding:3px 0 3px 5px;
		text-decoration:none;
		font-size:12px;
		color:#314973;
		margin-top:1px;
	}
	.info_category dd a:hover{
		background:#D9E6F7
	}
	.info_category dd img{
		border:none;
		margin-right:5px;
	}
	
	.entity_list{
		margin:20px 0 0 15px;
		width:610px;
		padding-right:1px;
		background:#f5f5f5;
	}
	
	.entity_list th{
		font-size:13px;
		text-align:left;
		padding:4px 0 3px 10px;
		border-left:1px solid #f5f5f5;
		border-top:1px solid #f5f5f5;
		border-bottom:1px solid #AFCAEF;
		background:#D9E6F7;
	}
	.entity_list td{
		padding:8px 0 3px 5px;
		border-bottom:1px dashed #ccc;
		background:#eee;
	}
	.entity_row a{
		font-size:13px;
		text-decoration:none;
		color:#333;
	}
	.entity_row a:hover{
		color:#CC3300
	}
	
	
}