/* paging green skin */

.paging {
	text-align:center;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
	margin:0px;
}

.paging a.num {
	border:1px solid #E2F1AF;
	background:#FFFFFF;
	text-decoration:none;
	color:#C16012;
	padding:2px 6px 4px 6px;
}

.paging a.text {
	border:1px solid #E2F1AF;
	background:#FFFFFF;
	text-decoration:none;
	color:#C16012;
	padding:4px 6px 2px 6px;
}

.paging a:hover {
	color:#C16012;
	background:#E2F1AF;
	text-decoration:none;
}

.paging .num {
	padding:0 3px 0 3px;
	font-size:12px;
	color:#C16012;
}

.paging .curr {
	padding:2px 4px;
	font-size:11px;
}
