@CHARSET "UTF-8";
@import url("default/reset.css");
@import url("default/grid.css");
@import url("default/typography.css");
@import url("default/forms.css");

body{
	margin:0; padding:0;
	background:#fff url('/static/images/group/body_bg.gif') repeat-x top;
}

img{
	border:none;
}

.txtr{
	text-align:right;
}
.txtl{
	text-align:left;
}
.txtc{
	text-align:center;
}

.hrefspan-8 a{
	margin-right:8px;
}
