/* element */

body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  background:url(/static/images/biz/body.jpg) repeat-x top;
  color: #444;
  font-size:14px;
}

hr{ border:none; border-bottom:1px solid #ccc; height:1px; }
p,td,th{ line-height:150%; }
small{ font-size:9px; }
strong{ font-weight:bold }

/* class */

.txtr{ text-align:right}
.dark{color: #353E47;}
.f16{ font-size:16px }
.f15{ font-size:15px }
.f14{ font-size:14px }
.f13{ font-size:13px }
.f12{ font-size:12px }
.quiet {color:#666;}
.lh150{ line-height:150%; }
.pd10{ padding:10px; }
.pdr10{ padding-right:10px; }
.floatRight{float:right;}
.floatLeft{float:left;}

.pagination{ padding:10px 0; font-size:12px;}
.pagination a{  display:block; float:left; padding:2px 5px; border:1px solid #fff; background:#eee; text-decoration:none; color:#444;   }
.pagination a:hover{ border:1px solid #ccc; }
.pagination b{ display:block; float:left; padding:2px 5px; }

a {text-decoration: none;color: #3B5D77;}

a:hover {color: #111; text-decoration:underline}

a img {border: 0;}

/* layout */
#wrap{
	/* position: relative; */
	width:960px;
	margin:0 auto;
}
#container{
	float:left;
	width:960px;
}

#footer{
	text-align:right;
	clear:both;
	background:url(/static/images/biz/footer.png) repeat-x top;
	height:79px;
	margin-top:20px;
	padding:10px;
	font-size:12px;
	color:#666;
	line-height:200%;
}

#footer a { margin:0 10px; }

#gb-box { float:left;width:98% }
.gb-item { padding:5px;margin-top:10px; }	
.gb-title { padding:5px; }
.gb-content {
  padding:10px;
  background:#F5FAFE;
  border:1px dashed #CBD7EC;
  line-height:160%;
}
.gb-content .gb-reply {
  padding:10px;
  background:#FFFFCC;
  border:1px dashed #ccc;
  margin-top:10px;
}
.gb-reply-box { margin-top:30px; }

/* ajax */
#ajaxloading{ position:absolute;display:none;z-index:100;width:100px;height:1.6em;top:0px;right:0px;line-height:1.6em;overflow:hidden;background:#dd0000;color:#ffffff;text-align:center; }
#ajaxhint {	display:none;margin:0px;padding:10px;border:1px solid;text-align:center;line-height:20px;border-color:#dd3c10;background:#ffebe8;width:100%; }

.tx_box{border:1px solid #FFCB99;background:#FFF8EE;padding:2px}
.tx_title{color:#FF5400;font-size:14px;padding-left:10px;padding-top:5px;font-weight:bold;}
.tx_content{padding-left:10px;}

.tip{ padding:10px; font-size:14px; color:#333;  border:1px solid #5D748F; background:#EFF7FF }

