.corner-box, .corner-box-right {
	width:180px;
	background: url(/static/images/biz/default/corner-box/left.jpg) top left no-repeat;
	padding: 12px 0 12px 12px;
	margin-top:10px;
	font-size:12px;
	color:#999;
}

.corner-box-title{
	font-weight:bold;
	font-size:14px;
	padding-bottom:10px;
	color:#5F6775
}

.corner-box-right {
	background: url(/static/images/biz/default/corner-box/right.jpg) top right no-repeat;
}

.corner-box li{
	list-style-position:outside;
	list-style:square;
	margin-left:20px;
	margin-top:10px;
}

.corner-box li a{ 
	border-bottom:1px solid #F7F6F6;
}

.corner-box li a:hover{
	color: #111;
}