* {margin:0; padding:0;}
body {padding: 5px 0;color:#333;font-family:'lucida grande',tahoma,helvetica,"ו",arial,'bitstream vera sans',sans-serif; font-size:12px;}
span.hint{display:block;margin-left:160px;color:#666;line-height:150%;}
.f-label{width:110px;}

/* message box */
.box_message_error {margin:10px;padding:10px;border:1px solid;text-align:center;line-height:20px;border-color:#dd3c10;background:#ffebe8;display:none;}
.box_message_success {margin:10px;padding:10px;border:1px solid;text-align:center;line-height:20px;border-color:#3b5998;background:#f7f7f7;display:none;}

/* html control */
.ctrl_inp{border:1px solid #84a1bd; width:120px; padding:2px 2px 2px 2px ; background-position: -70px -424px}
.ctrl_txtarea{border:1px solid #84a1bd; width:380px; padding:2px 2px 2px 2px ; background-position: -70px -424px}
.ctrl_codeinp{border:1px solid #84a1bd; width:59px; padding:2px 2px 2px 2px ; background-position: -70px -424px}