* {
	padding:0;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:150%;
	font-size:12px;
}

body {
	background:url(/static/images/bg/body_line.gif) repeat-x left 80px;
}

#wrap {
	width:790px;
	margin:0 auto;
	position:relative;
}