* { padding:0; margin:0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:150%; }
body { background:#E5E5E5; padding-bottom:5px; font-size:12px; }
table{ border-collapse:collapse; }

.sidebar{ float:left; }
#wrap { width:860px; margin:0 auto; background:#fff ; margin-top:8px; overflow:hidden; }
#global_pos{ margin:10px 0 0 18px; color:#666; }
img { border: none; }

a{ color:#314973; text-decoration:none; }
a:hover{ text-decoration:underline; }

hr{ border:none; border-top:1px solid #ccc; height:1px; margin:5px 0; }
ul{ list-style-position:inside }

/* 常用字 */
.f12{ font-size:12px; }
.f14{ font-size:14px; }
.fw14{ font-size:14px; color:#fff; }
.fb14{ font-size:14px; color:#000; }
.f9{ font-size:9px; }
.txtr{ text-align:right; }
.txtl{ text-align:left; }
.txtc{ text-align:center; }
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.strong{ font-weight:bold; }

/* 常用背景色 */
.bg-eee{ background:#eee }
.bg-f5{ background:#f5f5f5 }
.bg-fblue{ background:#EFF7FF }

/* 常用布局 */
.mu5{ margin-top:5px; }
.mud5{ margin:5px 0; }
.p5{ padding:5px; }
.pu5{ padding-top:5px; }
.pd5{ padding-bottom:5px; }
.pud5{ padding:5px 0; }
.mu8{ margin-top:8px; }
.mud8{ margin:8px 0; }
.p8{ padding:8px; }
.pu8{ padding-top:8px; }
.pd8{ padding-bottom:8px; }
.pud8{ padding:8px 0; }
.mu10{ margin-top:10px; }
.mud10{ margin:10px 0; }
.p10{ padding:10px; }
.pu10{ padding-top:10px; }
.pd10{ padding-bottom:10px; }
.pud10{ padding:10px 0; }

.rc { width:100% }
.rc_tl { background:url(/static/images/bg/rc_t.gif) no-repeat left top; height:10px;   }
.rc_tr { background:url(/static/images/bg/rc_t.gif) no-repeat right top; height:10px;   }
.rc_bl { background:url(/static/images/bg/rc_b.gif) no-repeat left top; height:12px;  }
.rc_br { background:url(/static/images/bg/rc_b.gif) no-repeat right top; height:12px;  }

/* 错误和正确提示 */
.err_tip{ color:#DD3C10; padding:5px; }
.suc_tip{ color:#2D8934; padding:5px; }

/* LOGO部分 */
#logo{ padding-left:80px; height:63px; background:url(/static/images/logo.jpg) no-repeat 10px center; cursor:pointer; color:#444; }
#logo i{ font-size:12px; }
#logo p{ font-size:14px; width:170px }

/* 脚底 */
#footer{ color:#999; clear:both; margin:0 auto;	width:100%;	background:url(/static/images/bg/dashed.gif) repeat-x left top; }
#footer td{ padding:10px 15px 0 15px; }
#footer .sub_nav{ font-size:9px; }
#footer .sub_info{ text-align:right; }
#footer a{ color:#3B5888; font-size:12px; text-decoration:none; padding:0 5px; }
#footer a:hover{ text-decoration:underline }

/* 脚顶修饰 */
#footer_decoration{	height:26px; color:#444; font-size:14px; color:#3B5888;	background:url(/static/images/bg/news_list.gif) repeat-x left bottom;	border-bottom:1px solid #BDC7D8; clear:left; }

/* 头顶模块列表+帐号信息+主搜索 */
.global_search{	width:570px; margin-left:20px; }
.global_search .models{	font-size:9px; }
.global_search a{ font-size:14px; color:#014CC9; margin:0 5px; }
.global_search a.on{ text-decoration:none; color:#333; font-weight:bold; }
.global_search .nav{ text-align:right; color:#666; font-size:12px; }
.global_search .nav a{ font-size:12px; margin:0 2px; }
.global_search .search_form{ }
.global_search .search_form .input{ width:300px; border:1px solid #ccc; font-size:14px;	padding:2px; line-height:normal; color:#999; }
.global_search .search_form .btn{ height:25px; width:60px; font-size:14px; cursor:pointer; }

/* 全局适用按钮样式 */
.btn{ border-top:1px solid #ABB5C6;border-left:1px solid #ABB5C6; border-bottom:1px solid #444C64;border-right:1px solid #444C64; background:#627091; color:#fff; cursor:pointer; height:25px; padding:0 5px; overflow:hidden }

/* 高亮字 */
.search_highlight{ font-size:14px; color:#c03; }

/* 一般输入框样式 */
.inputtxt{ padding:2px; border:1px solid #BDC7D8;  line-height:normal; }

/* 全局错误样式 */
.err_message{ text-align:center; background:#FFFFCC; border:1px solid #FFCC33; padding:10px; margin:10px 20px; font-size:14px; }
#relogin_form{ text-align:center }
#relogin_form p{ padding:10px 0 0 0; }
.err_submessage{ color:#666; }

/* 分页 */
.pagination{ padding:10px 0; font-size:12px; }
.pagination a{  display:block; float:left; padding:2px 5px; border:1px solid #fff; background:#eee; text-decoration:none; color:#444;   }
.pagination a:hover{ border:1px solid #ccc; }
.pagination b{ display:block; float:left; padding:2px 5px; }

/* about ajax */
#ajaxloading{ position: absolute;display: none;z-index: 100;width: 100px;height: 1.6em;top: 0px;right: 0px;line-height: 1.6em;overflow: hidden;background: #dd0000;color: #ffffff;text-align:center; }
#ajaxhint {	display:none; margin:0px; padding:10px; border:1px solid; text-align:center; line-height:20px; border-color:#dd3c10; background:#ffebe8; width:100%; }
