* {
	padding:0;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:150%;
	font-size:12px;
}

body {
	background:#E5E5E5;
	padding-bottom:5px;
}

table{ border-collapse:collapse;  }

.sidebar{ float:left; }

a{ color:#314973 }

/* 常用字 --------------------------------------------- */
.fw14{ font-size:14px; color:#fff; }
.f9{ font-size:9px; }
.txtr{ text-align:right; }
.txtl{ text-align:left; }

#wrap {
	width:860px;
	margin:0 auto;
	position:relative;
	background:#fff ;
	margin-top:8px;
	overflow:hidden;
}
.rc {
	width:100%
}
.rc_tl { background:url(/static/images/bg/rc_t.gif) no-repeat left top; height:10px;   }
.rc_tr { background:url(/static/images/bg/rc_t.gif) no-repeat right top; height:10px;   }
.rc_bl { background:url(/static/images/bg/rc_b.gif) no-repeat left top; height:12px;  }
.rc_br { background:url(/static/images/bg/rc_b.gif) no-repeat right top; height:12px;  }

/* LOGO部分 -------------------------------------------------------------------------------- */

#logo{
	padding-left:80px;
	height:63px;
	background:url(/static/images/logo.jpg) no-repeat 10px center;
	cursor:pointer;
	color:#444;
}

#logo i{ font-size:16px; font-weight:bold; }
#logo p{ font-size:12px; }

/* 脚底 -------------------------------------------------------------------------------------------- */

#footer{
	color:#999;
	clear:both;
	margin:0 auto;
	width:100%;
	background:url(/static/images/bg/dashed.gif) repeat-x left top;
}
#footer td{ padding:10px 15px 0 15px; }
#footer .sub_nav{ font-size:9px;  }
#footer .sub_info{ text-align:right;  }
#footer a{ color:#3B5888; font-size:12px; text-decoration:none; padding:0 5px; }
#footer a:hover{ text-decoration:underline }

/* 脚顶修饰 ----------------------------------------------- */
#footer_decoration{
	height:26px;
	color:#444;
	font-size:14px;
	color:#3B5888;
	background:url(/static/images/bg/news_list.gif) repeat-x left bottom;
	border-bottom:1px solid #BDC7D8;
	clear:left;
}
/* 头顶模块列表 + 帐号信息 + 主搜索 */
#global_search{
	width:580px;
	margin-left:40px;
}

#global_search .models{
	font-size:9px;
}
#global_search a{ font-size:14px; color:#014CC9; margin:0 5px; }
#global_search a.on{
	text-decoration:none;
	color:#333;
	font-weight:bold;
}

#global_search .nav{
	text-align:right;
	color:#666;
	font-size:12px;
}

#global_search .nav a{ font-size:12px; margin:0 2px; }

#global_search .search_form{
	
}

#global_search .search_form .input{
	width:300px;
	border:1px solid #ccc;
	font-size:14px;
	padding:2px;
	line-height:normal;
	color:#999
}
#global_search .search_form .btn{
	height:25px;
	width:60px;
	font-size:14px;
	cursor:pointer
}

/* 全局分页 --------------------------------------------- */
.pagination{ padding:8px 10px; }
.pagination a{  display:blcok; float:left; padding:2px 5px; border:1px solid #fff; background:#eee; text-decoration:none; color:#444;   }
.pagination a:hover{ border:1px solid #ccc; }
.pagination b{ display:blcok; float:left; padding:2px 5px; }

#global_pos{ margin:10px 0 0 18px; color:#666; }
