body{ font-size:14px; margin:0 auto; background:#f5f5f5; line-height:150%; font-family:Verdana, Arial, Helvetica, sans-serif }

#login_form {
width:400px;
padding:15px 5px;
margin:80px auto 0 auto;
color:#fff;
border-collapse:collapse;
background:#17608B url('/public/static/images/bg/info_login.jpg') repeat-x top;
border:4px double #ccc;
}
#login_form form{ margin:0 auto; padding: 0 0 20px 50px; clear:both}
#login_form .input{ font-size:18px; border:2px solid #aaa; width:240px; }
#login_form .btn{ padding:5px 10px; font-size:14px; border:3px double #aaa; cursor:pointer; background:#ffc;}
#login_form small {  clear:both;margin:0 auto; display:block; width:320px; border:1px solid #2571AB; 
font-size:12px; padding:5px; background:#000; color:#FFCC66; text-align:center }
#login_form small a{ color:#FFCC66;  }
#login_form h2{ padding:15px 0 20px 10px; font-size:16px; }

#toper{ background:#14568A; border-bottom:3px solid #448ABD; font-size:30px; color:#C3DEF1; padding:15px 30px; font-family:Georgia, "Times New Roman", Times, serif }
#toper a{ color:#fff; font-size:12px;}


#panel{ float:left; width:15%; background:#83B4D8; }
#panel dl{ margin:0; padding-bottom:4px }
#panel dt{ color:#fff; background:#000; padding:5px; border-bottom:2px solid #448ABD; border-right:2px solid #4F96C8;}
#panel dd{ background:#BCD8EA; margin:1px 1px 1px 4px; padding:5px 10px;}
#panel dd a{ color:#000; display:block; text-decoration:none;}
#panel dd a:hover{ text-decoration:underline}

#man{ margin:10px 0 auto 1%; width:72%; background:#fff; border:1px solid #ccc; padding:10px; float:left; }
h2{ float:left; margin:10px 0 auto 10px;}

#man p{ padding: 5px; margin:0;}

#footer{
  font-size:11px;
  color:#666;
  text-align:center;
  padding:15px 0;
  clear:both;
}

#footer a{
  color:#039;
}
#footer a:hover{
  color:#333;
  text-decoration:none;
}

.tips{ font-size:12px; padding:5px; background:#FFFFCC; border:1px solid #FFCC99; margin-top:0; color:#666699}
.tips a{ color:#333;  }

.pagination{ padding:10px 0; font-size:12px; }
.pagination a{  padding:2px 5px; border:1px solid #fff; background:#eee; text-decoration:none; color:#444;   }
.pagination a:hover{ border:1px solid #ccc; }

table.tb{ width:100%; border:1px solid #ccc; }
table.tb th{ background:#ccc; color:#333; border-right:1px solid #999; border-bottom:1px solid #999 }
table.tb td{ border-right:1px solid #eee; border-bottom:1px solid #eee; padding:5px 0 3px 10px; }
table.tb a{ color:#039; text-decoration:none; }
table.tb a:hover { background:#ffc; text-decoration:underline }

table.tb_in{ width:98%; }
table.tb_in th{ font-size:12px; }