@import url("global.css");

/* 信息分类+列表 ------------------------------------------ */
	.info_category{
		margin:18px 0 0 10px;
		background:#5D748F url(/static/images/bg/rc_tl.png) no-repeat left top;
		width:140px;
	}
	.info_category h2{
		padding:5px 0 5px 38px;
		font-size:14px;
		background: url(/static/images/icon/book_open.gif) no-repeat 12px 8px;
		color:#fff;
		width:100px;
	}
	.info_category dl{
		background:#EFF7FF;
		border-left:1px solid #D9E6F7;
		border-right:1px solid #D9E6F7;
		border-bottom:2px solid #AFCAEF;
		padding:1px;
	}
	.info_category dd{
		height:25px;
		border-bottom:1px solid #D9E6F7;
		overflow:hidden;
	}
	.info_category dd a{
		display:block;
		padding:3px 0 3px 5px;
		text-decoration:none;
		font-size:12px;
		color:#314973;
		margin-top:1px;
	}
	.info_category dd a:hover{
		background:#D9E6F7
	}
	.info_category dd img{
		border:none;
		margin-right:5px;
	}
	
	.entity_list{
		margin:20px 0 0 15px;
		width:650px;
		padding-right:1px;
		background:#f5f5f5;
	}
	
	.entity_list th{
		font-size:13px;
		text-align:left;
		padding:4px 0 3px 10px;
		border-left:1px solid #f5f5f5;
		border-top:1px solid #f5f5f5;
		border-bottom:1px solid #AFCAEF;
		background:#D9E6F7;
	}
	.entity_list th small{
		font-size:12px;
		color:#666;
		font-weight:normal;
	}
	.entity_list td{
		padding:8px 0 3px 5px;
		background:#f5f5f5;
		border-bottom:1px solid #eee;
	}
	.entity_row a{
		font-size:13px;
		text-decoration:none;
		color:#333;
	}
	.entity_row a:hover{
		color:#CC3300
	}
	
	
.entity_none{ background:#ffc url(/static/images/icon/big_notice.gif) no-repeat 10px center; padding:40px 20px 40px 120px; font-size:14px; color:#444;  border:1px solid #ccc; margin:20px; width:600px }

.entity_title{ text-align:center; padding:10px 0 5px 0; margin:0 20px; font-size:18px; color:#673429 }
.sibling_previous,.sibling_next{ padding:5px 20px; }
.sibling_previous a,.sibling_next a{ text-decoration:none; }
.sibling_next{ text-align:right; }

.tags{}

.entity{ padding:20px; margin:0 20px; background:#F5FAFE; border:1px solid #B9CDDA; font-size:14px; line-height:170%; }

.toolbar { background:#eee; color:#666; border:1px solid #ccc; padding:5px; margin:0 20px; text-align:right; }

.similarity{ background:#F5FAFE; border:1px solid #CBD7EC; margin:10px 0 0 20px; }
.similarity th{ background:#DDE7F8; font-size:13px; padding:3px 5px; text-align:left; }
.similarity td{ padding:2px 10px; color:#666; font-size:10px;}

#maker{ text-align:right; color:#666; font-size:13px; padding:20px;}

.search_result_box{  background:url(/static/images/bg/dashed.gif) repeat-x top; padding:5px;}
.search_result_box a{color:#004BCA; font-size:14px; }
.search_result_box p{ padding:5px; color:#666; font-size:12px;  }
.search_result_box a:visited{ color:#551A8B }