/* paging blue skin */

.paging {
	text-align:center;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
	margin:0px;
}

.paging span{
	padding:1px;
}

.paging a.num {
	border:1px solid #9aafe5;
	background:#FFFFFF;
	text-decoration:none;
	color:#3568b9;
	padding:2px 6px 4px 6px;
}

.paging a.text {
	border:1px solid #9aafe5;
	background:#FFFFFF;
	text-decoration:none;
	color:#3568b9;
	padding:4px 6px 2px 6px;
}

.paging a:hover {
    color:#fff;
	background:#296cb3;
	text-decoration:none;
	border:1px #2e6ab1 solid;
}

.paging .num {
	padding:0 3px 0 3px;
	font-size:12px;
	color:#C16012;
}

.paging .curr {
    color:#fff;
	padding:2px 6px 4px 6px;
	border:1px solid #9aafe5;
	background:#296cb3;
	cursor:default;
}
