.paging {
	text-align:center;
	font:12px Arial, tahoma, sans-serif;
	padding-top:5px;
	padding-bottom:5px;
	margin:0px;
}

.paging a {
	border:1px solid #E2F1AF;
	background:#FFFFFF;
	text-decoration:none;
	color:#C16012;
	padding:2px 6px 2px 6px;
}

.paging a:visited {
	border: 1px solid #E2F1AF;
	background: #FFFFFF;
	text-decoration: none;
	padding:2px 6px 2px 6px;
}

.paging .break {
	border: medium none;
	text-decoration: none;
	color:#C16012;
	padding:2px 6px 2px 6px;
}

.paging .num {
	color:#C16012;
	font:10px Arial, tahoma, sans-serif;
	padding:0 3px 0 3px;
}

.paging .curr {
	padding:2px 6px;
	border-color:#999;
	font-weight:bold;
	font:10px Arial, tahoma, sans-serif;
	background:transparent;
}

.paging a:hover {
	color:#C16012;
	background:#E2F1AF;
	text-decoration:none
}
