BODY {
	FONT-SIZE: 12px; MARGIN: 0px; FONT-FAMILY: Arial,Verdana; TEXT-ALIGN: left
}
A:visited {
	COLOR: #800080
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%
}
P {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.K {
	CLEAR: both; WIDTH: 100%; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.bor {
	BORDER-RIGHT: #619fcf 1px solid; BORDER-TOP: #619fcf 1px solid; BORDER-LEFT: #619fcf 1px solid; BORDER-BOTTOM: #619fcf 1px solid
}
.bor2 {
	BORDER-RIGHT: #b2d0ea 1px solid; BORDER-TOP: #b2d0ea 1px solid; BORDER-LEFT: #b2d0ea 1px solid; BORDER-BOTTOM: #b2d0ea 1px solid
}
.bort {
	BORDER-TOP: #b2d0ea 1px solid
}
.pdt2 {
	PADDING-TOP: 2px
}
.font14 {
	FONT-SIZE: 14px
}
.blue A {
	COLOR: #004bca
}
.logo {
	MARGIN: 9px 6px 0px
}
.s {
	PADDING-LEFT: 2px; FONT-SIZE: 16px; WIDTH: 20em; HEIGHT: 1.5em
}
.s2 {
	BORDER-RIGHT: #b1d1ea 1px solid; BORDER-TOP: #b1d1ea 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #b1d1ea 1px solid; LINE-HEIGHT: 130%; BORDER-BOTTOM: #b1d1ea 1px solid; FONT-FAMILY: Verdana; HEIGHT: 25px
}
.bt {
	FONT-SIZE: 14px; WIDTH: 5em; CURSOR: pointer
}
.bt2 {
	FONT-SIZE: 12px; CURSOR: pointer
}
.more {
	Z-INDEX: 10; BACKGROUND: #fff; MARGIN: 20px 0px 0px -50px; POSITION: absolute
}
.more A {
	DISPLAY: block; WIDTH: 80px; TEXT-DECORATION: none
}
.more A:visited {
	COLOR: #014cc9
}
.more A:hover {
	WIDTH: 80px; COLOR: #ffffff; BACKGROUND-COLOR: #36c
}
.more UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 80px; PADDING-TOP: 0px
}
.more LI {
	LINE-HEIGHT: 24px; LIST-STYLE-TYPE: none
}
#B {
	WIDTH: 910px
}
#T {
	WIDTH: 910px
}
#T A {
	COLOR: #014cc9
}
#B #L {
	FLOAT: left; WIDTH: 694px
}
#B #L2 {
	FLOAT: left; WIDTH: 204px
}
#B #L3 {
	FLOAT: left; WIDTH: 698px
}
#B #R {
	FLOAT: right; WIDTH: 208px
}
#B #R2 {
	FLOAT: right; WIDTH: 698px
}
#B #R3 {
	FLOAT: right; WIDTH: 204px
}
.name1 {
	BORDER-RIGHT: #b5cfe8 1px solid; BORDER-TOP: #b5cfe8 1px solid; BORDER-LEFT: #b5cfe8 1px solid; COLOR: #333; LINE-HEIGHT: 120%; BORDER-BOTTOM: #b5cfe8 1px solid; TEXT-ALIGN: left
}
.name2 {
	BORDER-RIGHT: #b5cfe8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b5cfe8 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND: #e7f5ff; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #b5cfe8 1px solid; COLOR: #004299; PADDING-TOP: 5px; BORDER-BOTTOM: 0px; HEIGHT: 17px; TEXT-ALIGN: left
}
.name2cont {
	BORDER-RIGHT: #b5cfe8 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: 0px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 6px; BORDER-LEFT: #b5cfe8 1px solid; WORD-BREAK: break-all; PADDING-TOP: 6px; BORDER-BOTTOM: #b5cfe8 1px solid; TEXT-ALIGN: left
}
.name3 {
	BORDER-RIGHT: #f7cf9e 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f7cf9e 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND: #fcf0da; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #f7cf9e 1px solid; COLOR: #f08708; PADDING-TOP: 5px; BORDER-BOTTOM: 0px; HEIGHT: 17px; TEXT-ALIGN: left
}
.name3cont {
	BORDER-RIGHT: #f7cf9e 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: 0px; PADDING-LEFT: 8px; BACKGROUND: #fffbef; FLOAT: left; PADDING-BOTTOM: 5px; BORDER-LEFT: #f7cf9e 1px solid; WORD-BREAK: break-all; PADDING-TOP: 5px; BORDER-BOTTOM: #f7cf9e 1px solid; TEXT-ALIGN: left
}
.name4cont {
	BORDER-RIGHT: #b5cfe8 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: 0px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 6px; BORDER-LEFT: #b5cfe8 1px solid; WIDTH: 204px; LINE-HEIGHT: 160%; PADDING-TOP: 6px; BORDER-BOTTOM: #b5cfe8 1px solid; TEXT-ALIGN: left
}
.name4cont A:link {
	TEXT-DECORATION: none
}
.name4cont A:visited {
	TEXT-DECORATION: none
}
.name4cont A:active {
	TEXT-DECORATION: underline
}
.name4cont A:hover {
	TEXT-DECORATION: underline
}
.name5cont {
	BORDER-RIGHT: #b5cfe8 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: 0px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 7px; BORDER-LEFT: #b5cfe8 1px solid; WIDTH: 204px; WORD-BREAK: break-all; LINE-HEIGHT: 160%; PADDING-TOP: 7px; BORDER-BOTTOM: #b5cfe8 1px solid; TEXT-ALIGN: left
}
A.b:link {
	TEXT-DECORATION: none
}
A.b:visited {
	TEXT-DECORATION: none
}
A.b:active {
	TEXT-DECORATION: underline
}
A.b:hover {
	TEXT-DECORATION: underline
}
A.y1:link {
	COLOR: #e37d00
}
.y2 {
	COLOR: #e37d00
}
A.g1:link {
	COLOR: #7c7c7c
}
.g2 {
	COLOR: #7c7c7c
}
.x {
	LINE-HEIGHT: 70%
}
.py {
	MARGIN-LEFT: 4px; COLOR: #e57b01
}
#F {
	WIDTH: 910px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #edf7ff
}
#F2 {
	; WIDTH: expression(document.body.clientWidth <= 910 ? '910px' : '100%'); BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px
}
.ctl {
	TABLE-LAYOUT: fixed
}
.ctl TD {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
A.qst {
	BORDER-RIGHT: #f8d871 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #f8d871 1px solid; PADDING-LEFT: 6px; BACKGROUND: #fffbef; PADDING-BOTTOM: 0px; BORDER-LEFT: #f8d871 1px solid; MARGIN-RIGHT: 10px; PADDING-TOP: 3px; BORDER-BOTTOM: #f8d871 1px solid; TEXT-DECORATION: none
}
A.btn1 {
	DISPLAY: block; BACKGROUND: url(http://cache.soso.com/wenwen/i/btn.gif); WIDTH: 71px; CURSOR: pointer; COLOR: #333; PADDING-TOP: 4px; HEIGHT: 25px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn1:hover {
	CURSOR: pointer; COLOR: #333; TEXT-DECORATION: underline
}
.btn2 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND: url(http://cache.soso.com/wenwen/i/btn.gif); BORDER-LEFT: 0px; WIDTH: 71px; CURSOR: pointer; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; HEIGHT: 25px; TEXT-ALIGN: center
}
.btn3 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND: url(http://cache.soso.com/wenwen/i/btn_03.gif); BORDER-LEFT: 0px; WIDTH: 71px; CURSOR: pointer; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; HEIGHT: 25px; TEXT-ALIGN: center
}
.btn4 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND: url(http://cache.soso.com/wenwen/i/btn1.gif); BORDER-LEFT: 0px; WIDTH: 96px; CURSOR: pointer; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; HEIGHT: 25px; TEXT-ALIGN: center
}
A.btn5 {
	DISPLAY: block; BACKGROUND: url(http://cache.soso.com/wenwen/i/btn1.gif); WIDTH: 96px; CURSOR: pointer; COLOR: #333; PADDING-TOP: 4px; HEIGHT: 25px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn5:hover {
	CURSOR: pointer; COLOR: #333; TEXT-DECORATION: underline
}
.v1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #e7f5ff; PADDING-BOTTOM: 0px; COLOR: #004299; PADDING-TOP: 3px
}
.v2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #014cc9; PADDING-TOP: 3px; BORDER-BOTTOM: #b5cfe8 1px solid
}
.j1 {
	BORDER-RIGHT: #fad1a5 1px solid; BORDER-TOP: #fad1a5 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #fffcf0; BORDER-LEFT: #fad1a5 1px solid; COLOR: #ff9105; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.j2 {
	BORDER-RIGHT: #b2cfed 1px solid; BORDER-TOP: #b2cfed 1px solid; BORDER-LEFT: #b2cfed 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #fad1a5 1px solid; TEXT-ALIGN: center
}
.j2 A {
	FONT-SIZE: 12px; COLOR: #0353cc; TEXT-DECORATION: none
}
.j2 A:visited {
	FONT-SIZE: 12px; COLOR: #0353cc; TEXT-DECORATION: none
}
.j3 {
	BORDER-BOTTOM: #fad1a5 1px solid
}
.j4 {
	BORDER-RIGHT: #fad1a5 1px solid; BACKGROUND: #fffcf0; BORDER-LEFT: #fad1a5 1px solid; COLOR: #3e4442
}
.j5 {
	BORDER-RIGHT: #b5cfe8 1px solid; BORDER-TOP: #b5cfe8 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #e7f5ff; BORDER-LEFT: #b5cfe8 1px solid; COLOR: #004299; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.j6 {
	BORDER-BOTTOM: #b5cfe8 1px solid
}
.j7 {
	BORDER-RIGHT: #b2cfed 1px solid; BORDER-TOP: #b2cfed 1px solid; BORDER-LEFT: #b2cfed 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #b5cfe8 1px solid; TEXT-ALIGN: center
}
.j7 A {
	FONT-SIZE: 12px; COLOR: #0353cc; TEXT-DECORATION: none
}
.j7 A:visited {
	FONT-SIZE: 12px; COLOR: #0353cc; TEXT-DECORATION: none
}
.j8 {
	BORDER-RIGHT: #b5cfe8 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 24px; BACKGROUND: #e7f5ff; PADDING-BOTTOM: 5px; BORDER-LEFT: #b5cfe8 1px solid; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.j9 {
	BORDER-RIGHT: #fad1a5 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: 0px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 6px; BORDER-LEFT: #fad1a5 1px solid; WORD-BREAK: break-all; PADDING-TOP: 6px; BORDER-BOTTOM: #fad1a5 1px solid; TEXT-ALIGN: left
}
A.Title {
	FONT-SIZE: 16px; TEXT-DECORATION: underline
}
A.Title:link {
	FONT-SIZE: 16px; TEXT-DECORATION: underline
}
.digest {
	FONT-SIZE: 13px; COLOR: #3e4442
}
#fy {
	FONT-SIZE: 12px; COLOR: #333
}
#fy A {
	COLOR: #0353cc; TEXT-DECORATION: none
}
#fy A:hover {
	COLOR: #0353cc; TEXT-DECORATION: underline
}
.red {
	COLOR: #ff3333
}
.name6 {
	BORDER-RIGHT: #f8d1a4 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f8d1a4 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND: #fffcef; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #f8d1a4 1px solid; COLOR: #f0870a; PADDING-TOP: 5px; BORDER-BOTTOM: 0px; HEIGHT: 17px; TEXT-ALIGN: left
}
.name6cont {
	BORDER-RIGHT: #f8d1a4 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: 0px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 6px; BORDER-LEFT: #f8d1a4 1px solid; WORD-BREAK: break-all; PADDING-TOP: 6px; BORDER-BOTTOM: #f8d1a4 1px solid; TEXT-ALIGN: left
}
.savehis {
	BEHAVIOR: url(#default#savehistory)
}
A.blc {
	COLOR: #333333
}
.name7 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 204px; COLOR: #004299; PADDING-TOP: 5px; HEIGHT: 17px; TEXT-ALIGN: left
}
.name7cont {
	BORDER-RIGHT: #b5cfe8 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: 0px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 6px; BORDER-LEFT: #b5cfe8 1px solid; WIDTH: 204px; LINE-HEIGHT: 160%; PADDING-TOP: 6px; BORDER-BOTTOM: #b5cfe8 1px solid; TEXT-ALIGN: left
}
.name7cont A:link {
	TEXT-DECORATION: none
}
.name7cont A:visited {
	TEXT-DECORATION: none
}
.name7cont A:active {
	TEXT-DECORATION: underline
}
.name7cont A:hover {
	TEXT-DECORATION: underline
}
A.T:link {
	FONT-SIZE: 14px; TEXT-DECORATION: underline
}
A.T:visited {
	FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.tex1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.lin1 {
	BORDER-RIGHT: #b5cfe8 1px solid; BORDER-TOP: #b5cfe8 1px solid; BACKGROUND: #e7f5ff; BORDER-LEFT: #b5cfe8 1px solid; BORDER-BOTTOM: 0px
}
.tools {
	PADDING-LEFT: 10px; RIGHT: -1px; WIDTH: 300px; MARGIN-RIGHT: 3px; POSITION: absolute; TOP: 2px; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
A.info {
	COLOR: #004bca; TEXT-DECORATION: underline
}
.grzx TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.grzx .dq {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(http://cache.soso.com/wenwen/i/grzs_tab.gif) no-repeat center 5px; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 5px; HEIGHT: 18px
}
.guangbuo {
	BORDER-RIGHT: #b5cfe8 1px solid; PADDING-RIGHT: 16px; BORDER-TOP: #b5cfe8 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 11px; FLOAT: left; PADDING-BOTTOM: 7px; BORDER-LEFT: #b5cfe8 1px solid; WIDTH: 528px; COLOR: #004299; LINE-HEIGHT: 130%; PADDING-TOP: 7px; BORDER-BOTTOM: #b5cfe8 1px solid; HEIGHT: 33px; TEXT-ALIGN: left
}
#scrollWrap {
	OVERFLOW: hidden; WIDTH: 380px; HEIGHT: 18px
}
#scrollMsg {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#scrollMsg UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#scrollMsg LI {
	LINE-HEIGHT: 18px; LIST-STYLE-TYPE: none
}
#scrollMsg LI A {
	FONT-SIZE: 14px
}
.fn01 {
	color:#004299
}
div.expression {
	text-align:"right";
	padding:0;
	margin:0;
	border:0,0,0,0;
	top:1;
	left:1;
	background:#EFEFEF;
	visibility:hidden;
	position:absolute;
}