@import url("global.css");

/* 互助分类 --------------------------------------------------- */
.help_category{ margin:10px 0 0 10px; background:#EFF7FF; }
.help_category h2{ padding:5px 10px; background:#5D748F url(/static/images/bg/rc_tl.png) no-repeat left top; }
.help_category p{ padding:8px;  border:1px solid #D9E6F7; border-top:none; }
.help_category p a{ font-size:12px; text-decoration:none; }
.help_category p a.M{ font-size:13px; font-weight:bold; }
.help_category p a:hover{ text-decoration:underline; }

/* 互助广播 --------------------------------------------------- */
.help_notice{  margin:0 0 0 15px; height:20px; width:370px  }
.help_notice strong{ float:left; color:#7D5D27; font-size:13px }
.help_notice .nt{ display:none; float:left; color:#166E8B; text-decoration:none; }

/* 求助集合 ---------------------------------------------------- */
.help_set{ clear:left; border:1px solid #D3E4CF; margin:8px 0 0 10px; width:475px; }
.help_set th{ background:#F4FFF2; border-bottom:1px solid #C4DBBF; border-top:1px solid #C4DBBF; color:#5C7B23; font-size:12px; padding:5px 10px;  }
.help_set td{ padding:5px; }
.help_set td a{ text-decoration:none; color:#004BCA }
.help_set td a:hover{ text-decoration:underline; }
.help_set td a:visited{ color:#800080; }
.help_set td.cat { padding:5px 0 5px 10px; width:65px; }
.help_set td.cat a{ color:#666; }
.help_set td.cat a:visited{ color:#666; }
.help_set td.coin{ font-size:9px; color:#537E01; text-align:center }

/* 积分排行 ---------------------------------------------------------- */
.help_rank{ width:165px; border:1px solid #E7DAC5; margin:10px 0 0 10px; }
.help_rank th{ background:#FDF9F1; color:#C26400; padding:5px; border-bottom:1px solid #E7DAC5; border-top:1px solid #E7DAC5;}
.help_rank td{ padding:5px; color:#666; font-size:9px; }
.help_rank td a{ text-decoration:none; padding-left:25px; }
.help_rank td a:hover{ text-decoration:underline; }
.help_rank .txtr a{ font-size:12px; }

/* 积分帮助 ----------------------------------------------------------- */
.box{ padding:10px 0 10px 10px;  }
a.help_link,a.help_rule{ border:1px solid #fff; background:#fff url(/static/images/icon/blue_help.gif) no-repeat 5px center; padding:12px 14px 12px 40px; margin-top:5px; text-decoration:none; }
a.help_rule{ background:#fff url(/static/images/icon/rule.gif) no-repeat 5px center; }
a.need_help{ width:166px; height:36px; background:url(/static/images/btn/help.gif) no-repeat; display:block; margin:5px 0 0 10px; font-size:18px; text-align:center; line-height:220%; font-weight:bold; text-decoration:none; color:#fff }
a.help_link:hover,a.help_rule:hover{ background-color:#EFF7FF; border:1px solid #D9E6F7; }

/* 互助位置 ----------------------------------------------------------- */
#help_position{ background:url(/static/images/bullet/arrow_blue.gif) no-repeat left center; margin:10px 0 0 18px; padding-left:18px; }

/* 求助话题 ----------------------------------------------------------- */
#topic,#reply,#accept{ width:650px; margin:10px 0 0 15px;}
.help_on,.help_ok{ border:1px solid #D9E6F7; }
.help_on h2{ background:#EFF7FF url(/static/images/icon/help.gif) no-repeat 5px center; padding:5px 0 5px 25px; color:#3E628A; border-bottom:1px solid #D9E6F7; }
.help_ok h2{background:#EFF7FF url(/static/images/icon/accept.gif) no-repeat 5px center; padding:5px 0 5px 25px; color:#3E628A; border-bottom:1px solid #D9E6F7;}

#topic td{ padding:5px 0; }
#topic .coin{ background:url(/static/images/icon/coin.gif) no-repeat 8px center; padding-left:25px; color:#C56D09; font-size:9px; }
#topic .tt{ font-size:16px; font-weight:bold; }
#topic .info{  padding:5px 10px; }
#topic .txt { padding:3px; background:#EFF7FF }
#topic .content,#reply .content,#accept .content{ background:#fff; border:1px solid #ccc; padding:10px; font-size:14px; }
.topic_btn{ margin:8px; padding:3px; cursor:pointer }

#reply{ border:1px solid #D9E6F7; }
#reply h2{ background:#EFF7FF url(/static/images/icon/by.gif) no-repeat 5px center; padding:5px 0 5px 25px; color:#3E628A; border-bottom:1px solid #D9E6F7; border-top:1px solid #D9E6F7;}
#reply .content,#accept .content{ color:#444; border:none;  }
#reply .info,#accept .info{ padding:10px; background:url(/static/images/bg/dashed.gif) repeat-x bottom }

#accept{ border:1px solid #F8D1A4; }
#accept h2{ background:#FFFCEF url(/static/images/icon/medal.gif) no-repeat 5px center; padding:5px 0 5px 25px; color:#C26400; border-bottom:1px solid #F8D1A4; border-top:1px solid #F8D1A4;}
#accept .grade{ background:url(/static/images/icon/star.gif) repeat-x left center; height:32px; }
#accept .grade_bg{ background:url(/static/images/bg/star.gif) repeat-x left center; width:80px; }

.info span{ color:#666; }
.memo{ padding:8px; font-size:14px; }
.memo p{ color:#666; }
.memo small{ color:#666 }

/* 工具条 --------------------------------------------------------------- */
.toolbar{ float:right; margin-top:-22px; padding-right:10px; }
.toolbar a{text-decoration:none;}
.collection{  background:url(/static/images/icon/add.gif) no-repeat left center; padding-left:20px; }
.report{  background:url(/static/images/icon/bomb.gif) no-repeat left center; padding-left:20px; }

/* 提交答案表 ------------------------------------------------------------- */

#reply_form{ padding:20px; color:#666 }
#reply_form textarea{ width:500px; padding:2px; height:100px; border:1px solid #999; color:#999; font-size:14px;line-height:normal; }
.verify{  margin-top:10px; padding:2px; height:20px; font-size:14px;line-height:normal; border:1px solid #999; }
.reply_btn{ padding:4px; margin-top:10px; margin-left:30px; }

/* 子分类块 --------------------------------------------------------------- */
.sub_category { border:1px solid #D9E6F7; margin:8px 0 0 10px; width:475px; }
.sub_category h2{ color:#3E628A; background:#EFF7FF url(/static/images/icon/by.gif) no-repeat 5px center; border-bottom:1px solid #D9E6F7; padding:5px 0 5px 20px; }
.sub_category table{ }
.sub_category td{ width:25%; padding:3px 0 3px 10px; }
.sub_category a{ text-decoration:none; color:#004BCA }
.sub_category small{ font-size:9px; }

/* 问题状态tab按钮 ----------------------------------------------------------- */
#help_tab_btn{  padding-top:5px; }
#help_tab_btn a { border:1px solid #C4DBBF; float:left; display:block; margin:0 0 0 10px; text-decoration:none; font-weight:bold; color:#5C7B23; padding:5px 10px; border-bottom:none; }

.tab_content{ background:#fff; clear:left; border:1px solid #FAD1A5; margin-top:0.5px; width:475px; margin-left:10px; }
.tab_content td{ padding:3px 8px; color:#C56D09 }
.tab_content td.date{ font-size:12px; color:#666; }
.tab_content td a{ font-size:14px; padding-left:5px; color:#004BCA;  }

/* 用户个人名片 -------------------------------------------------------------- */
.member_card{ margin:10px; border:1px solid #D7EAB2; background:#F9FFED; width:140px; }
.member_card .head{ padding:2px; border:1px solid #D7EAB2; background:#fff; width:50px; height:50px; }
.member_card td{ padding:5px; }

/* 控制连接 -------------------------------------------------------------- */
.control_link{ width:150px; margin:10px 0 0 12px; }
.control_link a{ display:block; padding:5px 5px; font-size:14px; text-decoration:none; }
.control_link a:hover{ text-decoration:underline; }
.control_link a.focus{ color:#333; background:#D9E6F7 url(/static/images/bg/rc_tl3.png) no-repeat left top; font-weight:bold }

h2.control_nav{ font-size:14px; background:#D9E6F7 url(/static/images/bg/rc_tl3.png) no-repeat left top; margin-top:10px; padding:4px 8px;  }
.control_content { border-left:4px solid #D9E6F7; border-bottom:4px solid #D9E6F7; width:685px; background:#EFF7FF }

.control_tab { padding:0 10px; }
.control_tab a{ padding:5px; margin:10px 5px 0 0; display:block; float:left; }
.control_tab a.focus{ background:#D9E6F7; text-decoration:none; font-weight:bold; color:#000; }

.control_action{background:#f7f7f7; border-top:1px solid #D9E6F7; border-bottom:1px solid #B2D0EA; clear:both; }

.control_list{ width:100%; }
.control_list th{ padding:4px; color:#666; border-bottom:1px dashed #B2D0EA; }
.control_list th .txt{ padding:2px; border:1px solid #BDC7D8;  line-height:normal; font-weight:normal }
.control_list th .btn{ border:2px double #ccc; background:#627091; color:#fff; cursor:pointer; height:30px; padding:0 5px; }
.control_list td{ padding:8px; }
.control_list td a{ font-size:14px; color:#004BCA }
.control_list td a.cat{ color:#666; }

/* 个人后台通用表单样式 ---------------------------------------------------- */
.home_form{ padding:20px; }
.home_form td{ font-size:14px; padding:10px 0 5px 10px; }
.home_form td b{ color:#444;  }
.home_form .txt,.home_form .bigtxt{ padding:2px; border:1px solid #BDC7D8;  line-height:normal; }
.home_form .btn{  border:3px double #ccc; background:#627091; color:#fff; cursor:pointer; padding:3px 8px }
.home_form .bigtxt{ width:400px; height:100px; }

/* 通讯录详细信息表格样式 ------------------------------------------------- */
.address_detail{ display:none; width:480px; }
.address_detail td{ padding:2px; border-bottom:1px solid #eee; }