
/* detail -------------------------------- */

.detail{
border-collapse:separate;
font-size:12px;
border:1px solid #B5C481;
}

.detail th{ padding:8px; background:#B5C481; font-size:14px; font-weight:bold}

.detail td{ padding:5px; border-bottom:1px solid #E5EBD4; border-right:1px solid #E5EBD4}




.table {
	border-collapse: separate;
	font-size:12px;
}

.table a{ color:#003399; }
.table a:hover{ color:#333; text-decoration:underline }

.table thead th {
	background: none;
}

.table thead td,
.table thead th {
	background: #f9fafa url(/static/images/company/default/table/header.png) top repeat-x;
	border: 0;
	font-size:13px;
	font-weight:bold;
}
.table thead .table-top-left {
	background: url(/static/images/company/default/table/top-left.png) top left no-repeat;
}

.table thead .table-top-right {
	background: url(/static/images/company/default/table/top-right.png) top right no-repeat;
}

td.left  { border-left:  1px solid #d7d7d7; }
td.right { border-right: 1px solid #d7d7d7; }

.table tfoot td {
	background: #f9fafa url(/static/images/company/default/table/footer.png) bottom repeat-x;
	border: 0;
}

.table tfoot .table-bottom-left {
	background: url(/static/images/company/default/table/bottom-left.png) bottom left no-repeat;
}

.table tfoot .table-bottom-right {
	background: url(/static/images/company/default/table/bottom-right.png) bottom right no-repeat;
}

.table tfoot td { height: 12px; }


.table tr.odd td { background: #fff; }
.table tr.even td { background: #f5f5f5; }
.table tr:target td { background: yellow; }

.table td,
.table th {
	margin: 0;
	padding: 0.5em;
}

.table td.dl,
.table th.dl {
  white-space: nowrap;
}

.table th {
  text-align: left;
}
