@import url("reset.css");
@import url("default/core.css");
@import url("default/corner-box.css");

.table{ background:#FDF4D6; border:1px solid #D6E9FD }
.table td{ padding:10px; }

li{ margin-top:10px;}

/* Links */
a {
  text-decoration: none;
  color: #3B5D77;
}

a:hover {
  color: #668FA3;
}

.overhide{ overflow:hidden }

#passport{
	position:absolute;
	right:0;
	top:0;
	font-size:14px;
	background:#f5f5f5;
	padding:9px;
	font-size:13px;
	border-bottom:1px solid #666;
	color:#ccc;
}
#passport td{ padding:5px 9px;}

#wrap{
position: relative;
	width:960px;
	margin:0 auto;
	padding-top:35px;
}

#header h1{
	 font-size:30px; color:#444; padding:15px 30px; font-family:Georgia, "Times New Roman", Times, serif ;
	 font-weight:bold
}

h2{
font-weight:bold;
font-size:16px;
padding:20px 0 10px 20px
}

#menu-box, #menu-box-sub{
clear:both;
	height:34px;
}

/* Ò»ãµ¼ */
#menu-box{
	background:#83B4D8;
	padding:8px 0 0 10px;
}
#menu-box a{
display:block;
padding:10px;
float:left;
color:#1D405C;
font-weight:bold;
border-bottom:none;
text-decoration:none;
}
#menu-box a:hover{
text-decoration:underline
}
#menu-box a.here{
background:#333;
color:#fff
}

/* Ú¶ãµ¼ */
#menu-box-sub{
background:#333;
border:4px solid #83B4D8;
border-top:none;

}
#menu-box-sub a{
display:block;
padding:10px;
float:left;
color:#999;
font-weight:bold;
border-bottom:none;
text-decoration:none;
font-size:13px;
margin-left:5px;
}
#menu-box-sub a:hover{
text-decoration:underline;
}
#menu-box-sub a.here{
color:#FFFFCC;
text-decoration:underline;
}





/*  */
.content{
clear:both;
float:none;
}



/* íµ¥ */
label {
  float: left;
  width: 25%;
  vertical-align: top;
}

input,
textarea,
select {
  padding: 1px;
  font: 400 1em verdana, sans-serif;
  color: #444;
  background: #f5f5f5;
  border: 1px solid #CCC;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  color: #000;
  background: #E7F1F3;
  border: 1px solid #888;
}

input.button, input.buttonGreen {
  padding: 2px 5px;
  cursor: pointer;
  font-size:12px;
  color: #fff;
  background: #9A3B1A;
  border-width: 1px;
  border-style: solid;
  border-color: #FF7800 #691300 #691300 #FF7800;
}

input.buttonGreen{
	background: #64AD1B;
	border-color: #E6F7D4 #3D6B11 #3D6B11 #E6F7D4;
}

input.radio {
  background: none;
  border: 0px;
}


