@import url("reset.css");
@import url("default/core.css");
@import url("default/header.css");
@import url("default/form.css");
@import url("default/table.css");
@import url("default/menu-box.css");
@import url("default/side-box.css");
@import url("default/mid-box.css");
@import url("default/corner-box.css");

/* 全局错误样式 */
.err_message{ text-align:center; background:#FFFFCC; border:1px solid #FFCC33; padding:10px; margin:10px 20px; font-size:14px; }
#relogin_form{ text-align:center }
#relogin_form p{ padding:10px 0 0 0; }