.menu-box {
	width: 190px;
	background:url(/static/images/biz/default/menu-box/top.png) top left no-repeat;
	font-size: 85%;
	margin-top:10px;
}

.menu-box ul {
	margin: 0;
	padding: 4px 0;
	list-style-type: none;
	background: url(/static/images/biz/default/menu-box/bottom.png) bottom left no-repeat;
}

.menu-box li { width: 190px; }

.menu-box ul li a:link,
.menu-box ul li a:visited,
.menu-box ul li span {
	display: block;
	padding: 8px 12px;
	background: url(/static/images/biz/default/menu-box/background.png) 0 0 no-repeat;
	text-decoration: none;
	font-weight: bold;
	width: 166px;
}

.menu-box ul li span {
	background: url(/static/images/biz/default/menu-box/background.png) -400px 0 no-repeat;
}

.menu-box ul li a:hover,
.menu-box ul li a:active {
	color:#333;
	background: url(/static/images/biz/default/menu-box/background.png) -200px 0 no-repeat;
}

.menu-box ul li a.on {
	color:#333;
	background: url(/static/images/biz/default/menu-box/background.png) -200px 0 no-repeat;
}

.menu-box ul ul { background: none; padding: 0; }

.menu-box ul li ul li a:link,
.menu-box ul li ul li a:visited,
.menu-box ul li ul li a:hover,
.menu-box ul li ul li a:active,
.menu-box ul li ul li span {
	padding-left: 24px;
	width: 154px;
}




/**************************************************************
   Top Block Menu
 **************************************************************/

#menu {
  clear:both;
  background: #3B5D77 url(/static/images/biz/default/menu-box/menu.gif) repeat-x top left;
  margin:0 auto;
  height:51px;
  overflow:hidden;
  text-align:center;
  width:960px;
}

#menu  a {
  float: left;
  width: 25%;
  padding:3px 0 8px 0;
  color: #fff;
  border-top: 4px solid #41637D;
  text-decoration: none;
}

#menu a span {
  display: block;
  padding: 2px 7px;
  text-align:center;
}

#menu  a span.title{
	font-size: 16px;
	font-weight:bold;
}

#menu  a span.desc {
  font-size: 12px;
  color: #90B7D5;
}


#menu  a:hover,
#menu  a.here {
  background: #4A5C6A;
  border-top: 7px solid #455660;
}

#menu  a:hover span.desc,
#menu  a.here span.desc {
  color: #FFF;
}
