
.mid-box{
	width:540px;
	margin: 10px 0 0 210px;
}

.mid-box-with-left{
	width:740px;
	margin: 10px 0 0 0;
}

.mid-box-intro{
	padding:10px;
	border:3px solid #F0E8DB;
	background:#F7F3ED;
	font-size:13px;
	line-height:220%;
}


.mid-box-title{
	font-size: 14px;
	font-weight:bold;
	padding:10px 0;
	color:#3B5D77;
}

/* detail */
.mid-box-right{
	background: url(/static/images/biz/default/mid-box/mid-box.jpg) no-repeat top left;
	width:740px;
}

.mid-box-right-title{ padding:8px 10px; font-weight:bold}

.mid-box-right-content{
	border:1px solid #B5C481;
	padding:10px;
	width:715px;
	line-height:180%;
}

.mid-box-right-content img{
	float:left;
	margin:0 10px 0 0;
	border:4px solid #eee
}